<#include "security.ftl">

<div class="card-columns" id="message-list">
    <#list messages as message>
        <div class="card my-3" data-id="${message.id}">
            <#if message.filename??>
                <img class="card-img-top" src="/img/${message.filename}">
            </#if>
            <div class="m-2">
                <span>${message.text}</span><br />
                <i>#${message.tag}</i>
                <div class="card-footer text-muted">
                    <a href="/user-messages/${message.author.id}">${message.authorName}</a>
                    <#if message.author.id == currentUserId>
                       <a class="btn btn-primary" href="/user-messages/${message.author.id}?message=${message.id}">
                         Edit
                       </a>
                    </#if>
                </div>
            </div>
        </div>
    <#else>
    No messages
    </#list>
</div>